<a href="https://colab.research.google.com/github/choi2q/python_programming/blob/main/LoadData(Pandas)_2022165751_%EC%B5%9C%EC%9D%B8%EA%B7%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Import required library

import pandas as pd

In [4]:
# Read data from CSV file (I will )
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [7]:
csv_path = '/content/gdrive/My Drive/Colab Notebooks/TopSellingAlbums.csv'
df = pd.read_csv(csv_path)

In [8]:
q = df[['Rating']]
q

   Rating
0    10.0
1     9.5
2     9.0
3     8.5
4     8.0
5     7.5
6     7.0
7     6.5

In [9]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [10]:
q = df[['Released', 'Artist']]
q

   Released           Artist
0      1982  Michael Jackson
1      1980            AC/DC
2      1973       Pink Floyd
3      1992  Whitney Houston
4      1977        Meat Loaf
5      1976           Eagles
6      1977         Bee Gees
7      1977    Fleetwood Mac

In [11]:
df.iloc[1, 2]

1980